# INTRODUCTION TO PANDAS

# Table Of Content

1. [Creating Simple Data](#creating-simple-data)
   - [Creating DataFrames](#creating-data-frames)
2. [Import Data](#import-data)
   - [Import from CSV](#import-from-csv-file)

- [NOTES][TODO]

# BASICS OF DATA
<hr>

# CREATE SIMPLE DATA

## CREATING DATA FRAMES
[Back To Table of Content](#table-of-content)

In [20]:
import pandas as pd

# data
data = {
    "name" : ["Adam", "Betty", "Celiwe", "Delani"],
    "age" : [18, 19, 24, 30]
}

# Loads data into dataframe
df = pd.DataFrame(data)

# View the data
print(df)

     name  age
0    Adam   18
1   Betty   19
2  Celiwe   24
3  Delani   30

In [21]:
# print by row index
print(df.loc[0])

name    Adam
age       18
Name: 0, dtype: object

- Another DataFrame

In [19]:
import pandas as pd

data2 = {
    "age" : [25, 50, 29, 40],
    "net-worth" : [500000, 250000, 456908, 56000000]
}

df = pd.DataFrame(data2)

print(df)

   age  net-worth
0   25     500000
1   50     250000
2   29     456908
3   40   56000000

# IMPORT DATA 
<hr>

## IMPORT FROM CSV FILE

[Back To Table of Content](#table-of-content)

In [12]:
# import pandas
import pandas as pd

data = pd.read_csv('Data/Subscription Cohort Analysis Data.csv')

# print(data)
data.head()

,customer_id,created_date,canceled_date,subscription_cost,subscription_interval,was_subscription_paid
0,154536156,2022-09-01,NaN,39,month,Yes
1,149713408,2022-09-01,2022-09-02,39,month,No
2,153756284,2022-09-01,2022-09-02,39,month,No
3,121253113,2022-09-01,2022-09-23,39,month,Yes
4,154467210,2022-09-01,2023-06-29,39,month,Yes